body {
  padding: 0;
  margin: 0;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/02/17/28/people-4995981_1280.jpg");
  background-position: cover;
}
.formCard {
  background-color:rgba(0, 0, 0, 0.7);
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  /* display: block; */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.formCard:hover{
  width: auto;
 
}

h1 {
  text-align: center;
}
h4{

  padding: 0;
  margin: 5px;
}
.icons {
  text-align: center;
}
p {
  color: rgb(141, 144, 148);
}
.fab {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 100%;
}
label {
  display:block;
}

input {
  width: 300px;
  box-sizing: border-box;
  padding: 10px 0px 10px 10px;
  margin: 10px 0px 0px 0px;
  border: none;
  border-radius: 2px;
}
#submit {
  padding: 10px ;
  width: 100px;

  border: none;
  border-radius: 2px;
  font-size: 15px;
}

/* .submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.fab:hover {
  cursor: pointer;
  transition: ease-out 0.2s;
  padding: 20px;
  font-size: 30px;
}
#submit:hover {
  transition: ease-in-out 0.5s;
  cursor: pointer;
  width: 500px;

  font-size: 20px;
   padding:10px 15px;

  border-radius: 50px;
  border: 3px solid rgb(11, 180, 180);
}
#userName:hover {
  border-radius: 50px;
  border: 3px solid rgb(11, 180, 180);
  font-size: 20px;
   padding:10px 15px;

  transition: ease-in-out 0.2s;
  width: 500px;
  text-align: center;
}
#pWord:hover {
  border-radius: 50px;
  border: 3px solid rgb(11, 180, 180);
  font-size: 20px;
  padding:10px 15px;
    text-align: center;
  transition:  ease-in-out 0.3s;
  width: 500px;
  
}
a{
  color: white;
}
/* p{
  text-align: left;
  
  padding:0 10px 10px 0;
  margin: 0;
  color: white;

} */